.projects-tabs-filter{
    display: flex;
    position: relative;

    &::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        bottom: 2px;
        border-bottom: 1px solid var(--project-font-black);
        z-index: 0;
    }

    button{
        padding: 7px 15px;
        border-radius: 5px 5px 0 0;
        display: flex;
        align-items: center;
        z-index: 1;
        gap: 0.5rem;
        border-bottom: 5px solid transparent;
        background-color: transparent;
        
        span{

            color: gray;

            &:first-child{
                font-size: 16px;
            }

            &:last-child{
                font-style: italic;
                font-size: 15px;
                padding: 3px 5px;
                border-radius: 5px;
            }
        }  
    }

    .active-filter{
        border-bottom: 5px solid var(--project-green-primary-color);
        background-color: white;    
        transition: all 0.2s ease-in-out;

        span{
            transition: all 0.2s ease-in-out;
            color: black;

            &:first-child{
                font-size: 16px;
            }

            &:last-child{
                background-color: rgb(208, 208, 208);
            }
        }
    }

    .not-active-filter{
        background-color: transparent;
    }
}

