:root{
    --project-secondary-color: #c5bc52;
    --project-font-black : #343434;
    --project-green-primary-color: #59a55e;
    --project-green-secondary-color: #55b6b2;
    --project-red-primary-color: red;
    --project-red-secondary-color: #f07979ce;
}