.prev-nex-stepper{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;

    button{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border: 1px solid black;
        font-size: 0.95rem;
        background-color: transparent;
        margin: 0 5px ;
        width: 108px;
        height: 31px;
    }
}